tensorflow
numpy
scipy
paramiko
pysftp
sox
python_speech_features
pyxdg
bs4
https://github.com/kpu/kenlm/archive/master.zip
keras>=3.11.3 # not directly required, pinned by Snyk to avoid a vulnerability
